body {
    margin: 0;
    padding: 0;
    

    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;

    background-color: #849d8f;

    

}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.main-header {
    width: 1200px;

    margin-left: auto;
    margin-right: auto;
}
.main-navigation {
     
    display: flex;
    
}
.site-navigation,
.user-navigation {
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-header-logo {
    padding-left: 17px;
    padding-top: 5px;
}
.site-navigation {
    min-width: 300px;
    

    display: flex;
    justify-content:flex-start;
    margin-top: 25px;
    
}
.site-navigation-item:nth-child(1) {
    margin-left: 15px;
}

.site-navigation-item {
    margin-right: 12px;
    
}
.site-navigation-item a {
    height: 32px;
    width: 87px;
    color: #ffffff;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding: 8px;
}
.site-navigation-item a:hover,
.site-navigation-item a:focus {
    
    color: #333333;
    text-decoration: none;
    background-color: #f7f6f3;
   border-radius: 20px;
}
.site-navigation-item a:active {
    color: #333333;
    text-decoration: none;
    
   border-radius: 20px;
   box-shadow: inset 0 2px 1px #696969;
   background-color: #ededed;
   background-color: #f8f7f4;
}
.site-navigation-item:first-child:hover,
.site-navigation-item:first-child:focus {
    /*сделать список каталога(выподающий попап)и его застилизовать*/
}
.user-navigation {
    min-width: 272px;
    height: 34px;
    margin: 0;
    margin-left: auto;
    display: flex;
    align-content: center;
    margin-top:30px;
    
    
}

.user-navigation-item a {
    width: 100px;
    
    padding: 5px 15px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-right: 10px;
    
    background-color: rgba(255, 255, 255,0.2);
    
    border-radius: 20px;
}


.time {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    
}
.time p {
    margin-top: auto;
    margin-left: auto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    
    
    padding-right: 27px; 
}
.time .phone {
    font-size: 22px;
    line-height: 24px;
    padding-right: 26px;
}
.main-menu {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
.features {
    margin: 0 27px;
    padding: 0;
    
    min-width: 1146px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.features-item h3 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}
.features-item p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
.features-item a {
    /*прописать стилизацию кнопок ХОЧУВАРЕНЬЯ И ХОЧУШОКОЛАДКИ*/
    
    padding: 14px 22px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 40px;

    box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
    background-color: #ffffff;
    background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);
    opacity: 0.99;

}
.features-item a:hover {
    box-shadow: 0 1px 2px #ac1000;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}
.features-item a:active {
    box-shadow: inset 0 2px 2px #942718;
    background-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}
.features-item-strawberry {
    width: 560px;
    height: 229px;
    color: #ffffff;
    background-color: #333333;
    background: url(../img/crimcon-back.png) 0 0 no-repeat;
/*вставить фонувую картинку малина*/
}
.features-item-chocolate {
    width: 560px;
    height: 229px;
    color: #ffffff;
    background-color: #333333;
    background: url(../img/choko-back.png) 0 0 no-repeat;

    /*втаить фон шоколад*/
}
.catalog {
    margin: 37px 27px;
    padding: 0;
    
    border: 2px solid red;
    
}
.ice-cream-list {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 340px;
    margin-bottom: 50px;
    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border: 2px solid rebeccapurple;
}
.ice-cream-item {
    width: 267px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    border: 2px solid green;
}
.ice-cream-item-price {
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}
.ice-cream-item-price span {
    
    font-size: 30px;
}
.ice-cream-item-name {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: underline;
    vertical-align: middle;
}
.store-description {
    min-width: 1146px;
    min-height: 308px;

    margin: 37px 27px;
    padding: 0;
    padding-top: 30px;
    background: url(../img/wafer-pattern-new.png) 0 0 no-repeat;
     border-radius: 10px;

    
}

.store-description h3 {
    color: #323232;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    width: 1013px;
    margin: 0;
    padding: 0;
    margin-left: 21px;
    

    
}
.store-description-item {
    height: 180px;
    width: 1146px;

    display: flex;
    
    flex-wrap: wrap;

    
}
.store-description-item p {
    width: 476px;
    height: 90px;

    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    
    margin: 0;
    margin-left: 21px;
    
    padding: 0;
    padding-left: 57px;
    padding-top: 16px;

    position: relative;

    
}
.store-description-item p:first-child::before {
    content: "";
    width: 49px;
    height: 49px;
    background: url(../img/ice-cream-icon.png) 0 0 no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.store-description-item p:nth-child(2)::before {
    content: "";
    width: 49px;
    height: 49px;
    background: url(../img/cow-icon.png) 0 0 no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
.store-description-item p:nth-child(3)::before {
    content: "";
    width: 49px;
    height: 49px;
    background: url(../img/leaf-icon.png) 0 0 no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}.store-description-item p:last-child::before {
    content: "";
    width: 49px;
    height: 49px;
    background: url(../img/thermometer-icon.png) 0 0 no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
.article {
    min-width: 1146px;
    min-height: 220px;

    margin: 40px 27px;

    display: flex;
    justify-content: space-between;
}
.new-article {
    width: 560px;
    height: 220px;
 
    color: #323232;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    

    background: url(../img/straberry-back-new.png) 0 0 no-repeat;


}
.new-article a {
    width: 279px;
    color: #323232;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: underline;
    
}
.subscription {
    width: 560px;
    height: 220px;

    color: #5a5a5a;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 5px;
    background: url(../img/background-mail.png) 0 0 no-repeat;

}
.subscription-form {
    width: 520px;
    height: 180px;
    background-color: #f8f7f4;
}
.map-address {
    width: 303px;
    height: 305px;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 27px;
    padding-left: 25px;
}
.map-address-item p {
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    margin: 0;
    padding: 0;

    
    
}
.map-address-item .name {
    width: 148px;
    margin-bottom: 9px;
}
.map-address-item .adress {
    width: 230px;

    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    margin-bottom: 23px;
}
.map-address-item .info {
    width: 200px;

    margin-bottom: 12px;

}
.map-address-item .phone {
    width: 152px;

    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
.map-address-item .time {
    line-height: 22px;
}
.map-address a {
    width: 250px;
    color: #fefefe;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    background-color: #e84d37;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);

    padding: 13px 28px;
    border-radius: 40px;
    
   
    
}



.main-footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-around;

}
.social-networks {
    margin: 0;
    padding: 0;
    
    width: 364px;

    border: 2px solid salmon;
}
.social-networks-item {
    list-style: none;
    margin:  0;
    padding: 0;
    width: 187px;
    height: 36px;
    


    display: flex;
}
.documentation {
    width: 364px;
    margin: 0;
    padding: 0;

    border: 2px solid salmon;
}
.documentation-list {
    list-style: none;
    margin:  0;
    padding: 0;
   
    display: flex;
    flex-wrap: wrap;
    
    align-content: center;
}
.documentation-list-item a {
    min-width: 184px;
    margin: 15px;
    margin-right: 30px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline;
}
.suppliers a {
    font-weight: 700;
    
}



 .developers {
    width: 364px;
    margin: 0;
    padding: 0;

    border: 2px solid salmon;
 }
 .developers img {
     margin-top: 10px;
     margin-left: 166px;
 }

 .developers p,
 .developers a {
    color: #fefefe;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
 }
.developers p {
    margin: 0;
    margin-left: 166px;
}
.developers a {
    text-decoration: underline;
}






































