body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;

    background-color: #849d8f;

}
a {
    text-decoration: none;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.main-header {
    margin-bottom: 550px;
}
.main-navigation {
     
    display: flex;
    
}
.site-navigation,
.user-navigation {
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-header-logo {
    padding-left: 24px;
    padding-top: 9px;
}
.site-navigation {
    min-width: 300px;
    

    display: flex;
    justify-content:flex-start;
    margin-top: 30px;
    margin-left: 24px;
    

}

.site-navigation-item {
    margin-right: 30px;
    
}
.site-navigation-item a {
    color: #ffffff;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}
.user-navigation {
    margin-left: auto;
    display: flex;
    margin-top: 30px;
    
}
.user-navigation-item {
    margin-right: 27px;
}
.user-navigation-item a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
.time {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    
}
.time p {
    margin-top: auto;
    margin-left: auto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    
    
    padding-right: 27px; 
}
.time .phone {
    font-size: 22px;
    line-height: 24px;
    padding-right: 26px;
}
