body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Open Sans, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;

    background-color: #849d8f;

}
a {
    text-decoration: none;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.main-header {
    margin-bottom: 525px;
}
.main-navigation {
    display: flex;
    /*flex-direction: column;*/

}
.site-navigation {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 700;

    background-color: #849d8f;

    min-height: 80px;
    min-width: 600px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}
.site-navigation li {
    min-width: 130px;
}
.site-navigation .visually-red {
    color: #ffffff; 

    background-color: #d07058;
}
.user-navigation {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 500;

    background-color: #849d8f;

    min-height: 120px;
    min-width: 100px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto 0;
}
.user-navigation li {
    min-width: 130px;
}
.user-navigation p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    
}
.user-navigation .phone {
    font-size: 22px;
    line-height: 24px;
}
.site-navigation,
.user-navigation {
    list-style: none;
}
.user-navigation a,
.site-navigation a {
    color: #ffffff;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #000000;
    background-color: #ffffff;
    border-radius: 20px;
}
.breadcrumbs {
    list-style: none;
}
.breadcrumbs a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    text-decoration: underline;

}
.breadcrumbs .breadcrumbs-current {
    text-decoration: none;
}
.main-h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}
.slider p {
    font-size: 60px;
    font-weight: 700;
    line-height: 60.35px;

}
.slider a {
    color:#ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
}
.features,
.ice-cream-list {
    list-style: none;
}
.featuresy h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    color: #ffffff;

    background-color: #849d8f;

}
.features p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

}
.features a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

}
.ice-cream-list p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.ice-cream-list .price {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
.ice-cream-list .price span {
    font-size: 30px;
}
.store-description {
    color: #323232;

}
.store-description h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}
.store-description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

}
.new-article {
    color: #323232;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px; 

}
.new-article a {
    color: #323232;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: underline;
}
.subscription p {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.map-address {
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.map-address p {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.social-networks-item,
.documentation-list  {
    list-style: none;
}
.documentation-list a {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline;
}
.documentation-list .suppliers {
    font-weight: 700;
}
.developers {
    color: #fefefe;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.developers a {
    text-decoration: underline;
    color: #fefefe;
}